<h1>Seja Bem-Vindo</h1>

<ul>
  <li><%= link_to "Contatos", '/contacts'%></li>
  <li><%= link_to "Tipos", '/kinds'%></li>
  <li><%= link_to "Endereços", '/addresses'%></li>
  <li><%= link_to "Telefones", '/phones'%></li>
</ul>
